
.container {
    width: 500px;
    height: 500px;
    border: 2px dashed black;
}

.box {
    padding: 10px;
    display: inline-block;
}

.box-1 {
    width: 230px;
    height: 210px;
    background-image: url('https://via.placeholder.com/230x210');
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
}


.box-2 {
    width: 230px;
    height: 210px;
    background-color: red;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
}

.box-3 {
    width: 210px;
    height: 230px;
    background-color: salmon;
    border-left: 10px solid cyan;
    border-right: 10px solid cyan;
}


.box-4 {
    width: 210px;
    height: 230px;
    background-color: green;
    border-left: 10px solid cyan;
    border-right: 10px solid cyan;
}


.container {
    font-size: 0;
    line-height: 0;
}
